{% extends 'base.html' %}

{% block content %}

{% if songs.count > 0 %}  {# also can write as songs|length #}
<table class="ui selectable inverted celled striped table">
    <thead>
    <tr>
        <th colspan="3">
            <i class="headphones icon"></i>
            Music in your soul
            {% if user.is_authenticated and user.is_superuser %}
            <div class="ui right floated violet labeled icon button"
                        onclick="window.location.replace('/upload');">
                <i class="cloud upload icon"></i> Upload
            </div>
            {% endif %}
        </th>
        {% if user.is_authenticated and not user.is_superuser %}
        <th class="center aligned collapsing">
            <i class="shopping cart icon"></i>
            Buy now
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
    <tr id="{{ song.id }}">
        <td class="collapsing">
            <i class="pound sign icon"></i> {{ song.price }}
        </td>
        <td>
            <i class="music icon"></i>{{ song.name }} -  {{ song.author }}
        </td>
        <td class="collapsing">
            <div style="background-color: #fafafa;
                        padding: 3px;
                        display: inline-block;
                        border-radius: 10px;">
                <audio controls controlsList="nodownload" onplay="playEvent(this)">
                    <source src="https://docs.google.com/uc?export=open&id={{ song.id }}" type="audio/mp3">
                </audio>
            </div>
        </td>
        {% if user.is_authenticated and not user.is_superuser %}
        <td class="center aligned collapsing">
            <div class="ui medium vertical animated button" tabindex="0" onclick="location.href='{% url 'buy' song.id%}';">
                <div class="hidden content">Shop</div>
                <div class="visible content">
                    <i class="cart plus icon"></i>
                </div>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
