{% extends 'base.html' %}

{% block content %}

{% if songs.count > 0 %}  {# also can write as songs|length #}
<table class="ui selectable inverted celled striped table">
    <thead>
    <tr>
        <th colspan="4">
            <i class="headphones icon"></i>
            {{user.first_name}} {{user.last_name}}'s Music
        </th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
    <tr id="{{ song.id }}">
        <td class="collapsing">
            <i class="pound sign icon"></i> {{ song.price }}
        </td>
        <td>
            <i class="music icon"></i>{{ song.name }} -  {{ song.author }}
        </td>
        <td class="collapsing">
            <div style="background-color: #fafafa;
                        padding: 3px;
                        display: inline-block;
                        border-radius: 10px;">
                <audio controls controlsList="nodownload" onplay="playEvent(this)">
                    <source src="https://docs.google.com/uc?export=open&id={{ song.id }}" type="audio/mp3">
                </audio>
            </div>
        </td>
        <td class="center aligned collapsing">
            <a href="https://docs.google.com/uc?export=open&id={{ song.id }}" download>
                <i class="download icon"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
